<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tim Berners-Lee</h1>
    <img src="../public/img/Berners-Lee_Tim.jpg" alt="Imagen de Tim Berners Lee">
    <p>En 1989, Tim Berners-Lee inventó la World Wide Web, una iniciativa hipermedia basada en Internet para compartir información global mientras trabajaba en el CERN, el Laboratorio Europeo de Física de Partículas. Escribió el primer cliente y servidor web en 1990. Sus especificaciones de URI, HTTP y HTML se refinaron a medida que se difundió la tecnología web.

        Es director del World Wide Web Consortium (W3C), una organización de estándares web fundada en 1994 que desarrolla tecnologías interoperables (especificaciones, pautas, software y herramientas) para llevar la web a su máximo potencial. Es director fundador de Web Science Trust (WST) lanzado en 2009 para promover la investigación y la educación en Web Science, el estudio multidisciplinario de la humanidad conectada por la tecnología. Berners-Lee también es directora de la World Wide Web Foundation, creada en 2009 para coordinar esfuerzos para promover el potencial de la Web en beneficio de la humanidad.
        
        En el MIT, Berners-Lee es el profesor fundador de ingeniería de 3Com en la Escuela de Ingeniería, con un nombramiento conjunto en el Departamento de Ingeniería Eléctrica y Ciencias de la Computación en el Laboratorio de Ciencias de la Computación e Inteligencia Artificial (CSAIL). También es profesor en el Departamento de Electrónica e Informática de la Universidad de Southampton, Reino Unido.
        
        En 2001, Berners-Lee se convirtió en miembro de la Royal Society. Ha sido merecedor de varios premios internacionales. En 2004 fue nombrado caballero por SM la Reina Isabel y en 2007 recibió la Orden del Mérito.</p>
</body>
</html>