<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/public/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Bienvenido a nuestra web</h1>
        <p style="text-align:center">Por favor si quiere saber más de las Heroínas y los Héroes
            Tecnológicos por favor diríjase a las siguientes enlaces:</p>
    <p>
        <a href="http://localhost:3030/babbage">
            Biografía de Charles Babbage
        </a>
    </p>
    <p>
        <a href="http://localhost:3030/berners-lee">
            Biografía de Tim Berners Lee
        </a>
    </p>
    <p>
        <a href="http://localhost:3030/clarke">
            Biografia de Joan Clarke
        </a>
    </p>
    <p>
        <a href="http://localhost:3030/hamilton">
            Biografia de Margaret Hamilton
        </a>
    </p>
    <p>
        <a href="http://localhost:3030/hopper">
            Biografia de Grace Murray Hopper
        </a>
    </p>
    <p>
        <a href="http://localhost:3030/lovelace">
            Biografia de Ada Lovelace
        </a>
    </p>
    <p>
        <a href="http://localhost:3030/turing">
            Biografia de Alan Turing
        </a>
    </p>
</body>
</html>