p {
  color: rgb(255, 255, 255);
}
body {
  background-image: url("/public/img/1920_1200_20120418033109931744.jpg");
     }
body {
  background-repeat: no-repeat;
     }
body {
  background-position: center center;
     }
body {
  background-position: 20% 20%;
}
body {
  font-family: 'Arvo', serif;
}
h1 {
  color: rgb(239, 255, 93);
}
h1 {
  text-align: center;
}
